body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
  background-color: lightblue; 
}

button {
    width: 150px;
    height: 70px;
    font-size: 20px;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 90px;
}

img {
    width: 50px;
    height: auto;
    margin: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.reset-button {
    align-self: center;
    background-color: red;
}

